<footer class="container py-5">
  <div class="row">
    <div class="col-12 col-md">
      <small class="d-block mb-3">&copy; 2022 All rights reserved</small>
    </div>
    <div class="col-6 col-md">
      <h5>About</h5>
      <ul class="list-unstyled">
        <li><img src="../../assets/Mail.png" width="16" height="16"><span>&nbsp;</span><a class="text-dark"
            href="mailto:jfreeland@btinternet.com">Contact</a></li>
        <li><img src="../../assets/GitHub.png" width="16" height="16"><span>&nbsp;</span>
          <a class="text-dark" href="https://github.com/freelandr/aws-kibworth-client">GitHub</a>
        </li>
      </ul>
    </div>
    <div class="col-6 col-md">
      <h5>Links</h5>
      <ul class="list-unstyled">
        <li><a class="text-dark" href="http://www.kibworth.org/">Kibworth History Society</a></li>
        <li><a class="text-dark" href="https://www.kibworthvillage.co.uk/story-of-england.html">Story of England</a>
        </li>
      </ul>
    </div>
  </div>
</footer>